<%= form_with(model: @spending, url: spending_path(@spending), data: { turbo: false }, class: "d-flex flex-column") do |f| %>
    <div class="">
        <p><%= f.label :amount %>*</p>
        <%= f.text_field :amount, class: "form-control", id: "amount" %>
    </div>

    <div class="mt-4">
        <p><%= f.label :description %></p>
        <%= f.text_field :description, class: "form-control", id: "description" %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id, id: "user" %>

    <div class="mt-4">
        <p><%= f.label :category %></p>
        <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Select web users"}, { class: "form-select", id: "category" } %>
    </div>

    <%= f.submit "Edit Spending", class: "mt-4 btn btn-primary w-100" %>
<% end %>
