<div class="container mt-5 mb-5">
    <div class="mb-5">
        <%= render 'partials/filters', path: spendings_path %>
    </div>

    <% @user_spendings.each do |spending| %>
        <div class="mt-1 mb-1 p-3 rounded bg-light d-flex justify-content-between">
            <div>
                <p class="fs-5">Amount: $<%= spending&.amount %></p>
                <p>Description: <%= spending&.description %></p>
                <p>Category: <%= spending&.category.name %></p>
            </div>
            <div class="float-end">
                <%= link_to "Edit", edit_spending_path(spending), class:"btn mb-2 btn-secondary w-100" %>
                <%= button_to 'Delete', spending, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            </div>
        </div>
    <% end %>
</div>
