<%= form_with(model: Share.new, url: shares_path, data: { turbo: false }, class: "d-flex flex-column border border-black-subtle rounded mb-3") do |f| %>
    <div class="d-flex justify-content-between p-3 form-group gap-3">
        <div class="d-flex flex-column form-group">
            <%= f.hidden_field :author_id, value: current_user.id, id: 'author_id' %>
        </div>
        <div class="w-75">
            <p><%= f.label 'share with' %></p>
            <%= f.text_field :recipient_id, placeholder: "@example.com", id: 'recipient_id', class: "form-control" %>
        </div>
        <%= f.submit I18n.t("btns.share"), class: "btn btn-primary w-25 pt-3 pb-3" %>
    </div>
<% end %>
