<div class="container">
    <h1 class="mt-5 mb-5">List of spendings</h1>
    <div class="d-flex row">
        <div class="d-flex flex-column col-8">

            <h5 class="bg-secondary-subtle rounded p-2 mb-4">Total amount: $<%= total_spending_amount(current_user) %></h5>

            <% @user_spendings.each do |spending| %>
                <div class="mt-1 mb-1 p-3 rounded bg-light d-flex justify-content-between">
                    <div>
                        <p class="fs-5">Amount: $<%= spending.amount %></p>
                        <p>Description: <%= spending.description %></p>
                        <p>Category: <%= spending.category.name %></p>
                    </div>
                    <div class="float-end">
                        <%= link_to "Edit", edit_spending_path(spending), class:"btn mb-2 btn-secondary w-100" %>
                        <%= button_to 'Delete', spending, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="d-flex flex-column col-4">
            <%= render 'spendings/partials/form', categories: @categories %>
        </div>
    </div>
</div>
